---
import BaseHead from "../components/BaseHead.astro"
export interface Props{
    title: string;
}
const {title} = Astro.props
---
<!DOCTYPE html>
<html lang="es">
	<BaseHead title:"AstroTips" description="My first page" >
	<body class="w-max-screen">
				<slot />
	</body>
</html>
